:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

model-viewer {
  width: 100%;
  height: 90%;
  background-color: #ffffff;
}

.Hotspot {
  background: rgba(247, 5, 5, 0.825);
  border-radius: 32px;
  border: solid 3px #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  cursor: pointer;
  height: 30px;
  padding: 8px;
  position: relative;
  transition: opacity 0.3s;
  width: 30px;
  display: none;
}

.Hotspot:not([data-visible]) {
  background: transparent;
  border: 4px solid rgba(247, 5, 5, 0.825);
  box-shadow: none;
  height: 40px;
  pointer-events: none;
  width: 40px;
}

.Hotspot:focus {
  border: 4px solid rgb(0, 128, 200);
  height: 32px;
  outline: none;
  width: 32px;
}

.Hotspot > * {
  opacity: 1;
  transform: translateY(-50%);
}

.HotspotAnnotation {
  background: rgba(247, 5, 5, 0.825);
  border-radius: 20px;
  border: solid 4px #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 175px;
  overflow-wrap: break-word;
  padding: 10px;
  position: absolute;
  top: 50%;
  width: max-content;
  opacity: 0;
}

.HotspotAnnotation h2 {
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.HotspotAnnotation img {
  height: 50px;
}

.Hotspot:not([data-visible]) > * {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(-50% + 4px));
  transition: transform 0.3s, opacity 0.3s;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

#outerShell {
  max-width: 1200px;
  border: solid 1px #666;
  display: none;
}

@media screen and (min-width: 620px) {
  #mobile-tablet-view {
    display: none;
  }
  #outerShell {
    max-width: 1200px;
    border: solid 1px #666;
    display: block;
    margin: 0 auto;
  }
  #imageCon {
    position: relative;
    max-width: 1200px;
    height: 100vh;
  }
  .slideImage {
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
  }
  .image-right {
    background: url(../images/placeholder/earbud-x-ray.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .image-left {
    background: url(../images/placeholder/earbud.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50%;
    background-attachment: fixed;
  }
  .image-drag {
    background-color: #666;
    left: 50%;
    width: 4px;
    cursor: pointer;
  }
}
#header {
  height: 72px;
  background-color: #4a4a4a;
}

#model-viewer {
  border-bottom: 5px solid #4a4a4a;
}

#earbud {
  width: 400px;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;
  border: 5px solid #4a4a4a;
  border-radius: 20px;
}

#touch-controls {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 5px solid #4a4a4a;
}

#touch-controls-text {
  height: 150px;
  margin-bottom: 15px;
}

#touch-controls-img {
  height: 275px;
}

.subtitle {
  height: 65px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.colourname {
  height: 40px;
  margin-top: 45px;
}

.colourname:first-of-type {
  margin-top: 0;
}

.colour {
  height: 200px;
  margin-top: 10px;
}

#banner {
  height: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mobile-x-ray {
  height: 250px;
  justify-self: center;
}

.mobile-x-ray:last-of-type {
  margin-top: 20px;
}

#animation {
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  height: 100px;
  background-color: #4a4a4a;
}

@media screen and (min-width: 620px) {
  #header {
    height: 85px;
  }
  #earbud {
    width: 600px;
    height: 300px;
  }
  #model-viewer {
    border-bottom: 10px solid #4a4a4a;
  }
  #touch-controls {
    margin-top: 35px;
    padding-bottom: 35px;
    border-bottom: 10px solid #4a4a4a;
  }
  #touch-controls-text {
    height: 185px;
  }
  #touch-controls-img {
    height: 350px;
  }
  #subtitle {
    height: 80px;
  }
  .colour {
    height: 300px;
  }
  #banner {
    height: 150px;
  }
  .mobile-x-ray {
    display: none;
  }
  #animation {
    height: 700px;
  }
  footer {
    height: 150px;
  }
}
@media screen and (min-width: 1280px) {
  #header {
    height: 100px;
  }
  #earbud {
    width: 1000px;
    height: 500px;
  }
  #model-viewer {
    border-bottom: 15px solid #4a4a4a;
    border-bottom: 10px solid #4a4a4a;
  }
  #touch-controls-text {
    height: 200px;
  }
  #touch-controls-img {
    height: 500px;
  }
}

/*# sourceMappingURL=main.css.map */
