#x-ray img {
    border: solid 4px #b20000;
}

@media screen and (min-width: 620px) {    

    #mobile-tablet-view {
        display: none;
    }
    
    #outerShell {
        max-width: 600px;
        border: solid 5px #b20000;
        display: block;
        margin: 0 auto;
    }
    
    #imageCon {
        position: relative;
        height: 50vh;
    }
    
    .slideImage {
        position: absolute;
        left: 0;
        right: 0;
        height: 50vh;
        max-width: 600px;
    }
    
    .image-right {
        background: url(../images/earbuds-x-ray.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    .image-left {
        background: url(../images/earbuds.jpg) no-repeat;
        background-size: cover;
        background-position: left center;
        width: 50%;

    }
    
    .image-drag {
        background-color: #b20000;
        left: 50%;
        width: 10px;
        cursor: pointer;
    }
}

@media screen and (min-width: 1280px) {
    .image-left {
        background-position: left center;
    }

    #imageCon {
        height: 100vh;
    }

    .slideImage {
        height: 100vh;
        max-width: 1200px;
    }

    #outerShell {
        max-width: 1200px;
    }
}

