header {
    background-color: #2d2d2d;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px; 
}

header img {
    height: 40px;
    margin-left: 30px; 
}

#model-viewer {
    border-bottom: 5px solid #2d2d2d;
}

#earbud {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid #2d2d2d;
    border-radius: 20px;
}

#touch-controls {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 5px solid #2d2d2d;
}

#touch-controls-text {
    height: 150px;
    margin-bottom: 15px;
}

#touch-controls-img {
    height: 275px;
}

.subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
}

.colour-choice {
    justify-self: center;
}

.colourname {
    margin-top: 45px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
}

.colourname:first-of-type {
    margin-top: 0;
}

.colour {
    height: 250px;
    margin-top: 10px;
    border: solid 5px #2d2d2d;
}

.colour-choice {
    margin-top: 20px;

}

#banner {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #2d2d2d;
    padding: 20px;
}

#banner h2 {
    color: #fff;
    font-size: 18px;
}

.mobile-x-ray {
    height: 250px;
    justify-self: center;
}

.mobile-x-ray:last-of-type {
    margin-top: 20px;
}

#animation {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    height: 100px; 
    background-color: #4a4a4a;
}

#scroll-animation {
    max-width: 100%;
}

#animation div {
    display: none;
}

@media screen and (min-width: 620px) {

    #earbud {
        width: 600px;
        height: 300px;
    }

    #model-viewer{border-bottom: 10px solid #2d2d2d;}

    .subtitle {
        font-size: 36px;
    }

    .colourname {
        font-size: 28px;
    }

    .colour {height: 300px;}

    #banner h2 {
        font-size: 24px;
    }

    .mobile-x-ray{display: none;}

    footer {height: 150px;}

    #animation div{
        display: block;
    }
}

@media screen and (min-width: 1280px) {

    #earbud {
        width: 1000px;
        height: 500px;
    }

    #model-viewer{border-bottom: 15px solid #2d2d2d; border-bottom: 10px solid #2d2d2d;}

    .subtitle {
        font-size: 48px;
        text-align: left;
    }

    .colourname {
        font-size: 38px;
    }

    #banner h2 {
        font-size: 32px;
    }

    footer {
        display: end;
    }
}